<div class='page-header'>
  <h1>Space r&amp;zg(radiation &amp; zero-gravity)</h1>
  <h4>Too much garbage in your face? There's plenty of space out in space!</h4>
</div>

<div class="pull-right" class='col-xs-3'>
  <ul class="nav nav-pills">
    <li><%= link_to "Live in Space?", new_post_path, id: 'new-post', remote: true %></li>
  </ul>
</div>

<div class='col-xs-8'>
  <% @posts.each do |post| %>
    <%= link_to image_tag(post.picture.url(:thumb)), post_path(post.id) %>
  <% end %>
</div>
