<h1>Space r&amp;zg</h1>
<h4>Turn your dream vacation into a reality</h4>

<div class="pull-right">
  <ul class="nav nav-pills">
    <li><%= link_to "List your place", new_post_path, id: 'new-post', remote: true %></li>
  </ul>
</div>

<ul>
  <% @posts.each do |post| %>
    <h3><%= link_to "#{post.title}", post_path(post.id) %></h3>
    <li><%= post.content %></li>
  <% end %>
</ul>
