<h1>Turn your dream vacation into a reality</h1>

<ul class="nav nav-pills" class="pull-right">
  <li><%= link_to "List your place", new_post_path, id: 'new-post', remote: true %></li>
</ul>

<ul>
  <% @posts.each do |post| %>
    <h3><%= link_to "#{post.title}", post_path(post.id) %></h3>
    <li><%= post.content %></li>
  <% end %>
</ul>
