.container {
  margin: 10%;
}

.post-container {
  margin-right: 45%;
}

.top-nav {
  margin-bottom: 60px;
  margin-left: 80px;
  margin-right: 80px;
  border-style: solid;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.user-nav {
  float: right;
}
